spring:
  application:
    name: book-service
  data:
    mongodb:
      host: ${MONGODB_HOST:localhost}
      port: ${MONGODB_PORT:27017}
      database: bookdb
  mongodb:
    embedded:
      version: 3.4.11 # see updates at https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/tags
                      # the embedded mongo will be downloaded to ~/.embedmongo folder
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:8080}/realms/company-services
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
  main:
    allow-circular-references: true

jwt:
  auth:
    converter:
      resource-id: ${spring.application.name}
      principal-attribute: preferred_username

management:
  endpoints:
    web:
      exposure.include: beans, env, health, info, metrics, mappings
  endpoint:
    health:
      show-details: always

springdoc:
  show-actuator: true
  swagger-ui:
    groups-order: DESC
    disable-swagger-default-url: true
